* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
#wrapper {
  margin: 1rem;
}
header > nav {
  display: flex;
  justify-content: space-evenly;
}
.editPlaylistVideoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
}
.editPlaylistVideoWrapper > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
.editPlaylistVideoWrapper h3 {
  grid-column: 1/-1;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 200px;
}

#modal button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  min-height: 100vh;
}

#modal video {
  display: block;
  max-width: 80vmin;
  max-height: 80vmin;
  margin: auto;
}
#modal:empty {
  display: none;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
.pagination {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-around;
}
