* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
#wrapper {
  margin: 1rem;
}
header > nav {
  display: flex;
  justify-content: space-evenly;
}
.editPlaylistVideoWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
}
.editPlaylistVideoWrapper > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}
.editPlaylistVideoWrapper h3 {
  grid-column: 1/-1;
}
